

/*FONT-FAMILY*/
$default-font: 'Montserrat', sans-serif;

/*FONT-SIZE*/
$default-size-font: 18px;

/*BACKGROUND*/
$default-site-bg: #fff;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #11181D;

// $alternate-color: #ff0109;
